# dependencies
node_modules/

# test results
test-results/
playwright-report/
blob-report/
trace.zip

# environment
.env
.env.local

# compiled output (kalau pakai TypeScript)
dist/
out/
build/

# logs
*.log

# system files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# OS temporary files
*.tmp